################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleDeEstoqueCPM/.vs/ControleDeEstoqueCPM/v16/Server/sqlite3
/ControleDeEstoqueCPM/ControleDeEstoqueCPM/bin/pt-br
/Crud3Camadas/.vs/Crud3Camadas/v16/Server/sqlite3
