################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleDeEstoqueCPM/.vs/ControleDeEstoqueCPM/v16/Server/sqlite3
/ControleDeEstoqueCPM/ControleDeEstoqueCPM/bin/pt-br
/Crud3Camadas/.vs/Crud3Camadas/v16/Server/sqlite3
/ApiTutorialMicrosoft/.vs/ApiTutorialMicrosoft/config
/ApiTutorialMicrosoft/.vs/ApiTutorialMicrosoft/v16/Server/sqlite3
/ApiTutorialMicrosoft/.vs/ApiTutorialMicrosoft
/ApiTutorialMicrosoft
/AulaAspMvc/.vs/AulaAspMvc/config
/AulaAspMvc/.vs/AulaAspMvc/v16/Server/sqlite3
/AulaAspMvc/Application/obj/Debug
/AulaAspMvc/AulaAspMvc/bin
