@{
    ViewBag.Title = "Index View - My site";
    }

@section featured {
    <div class="hero-unit">
        <h1> max pharma </h1>
        <p> este é um prototipo de teste bootstrap</p>
    </div>
    }
Some content goes here 
<p>@Html.ActionLink("Home >>", "../", null, new { @class="btn btn-primary btn-large"})</p>