<div>
    @Html.ActionLink("Home","Index") &nbsp;&nbsp; 
    @Html.ActionLink("Sobre", "Sobre")&nbsp;&nbsp; 
    @Html.ActionLink("Cadastro Aluno","CadastroAluno","CadastroAluno")&nbsp;&nbsp; 
   <!-- codigo para linkar paginas                            etiqueta , view a ser chamada, e controler-->
</div>