@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@{Html.RenderPartial("_partialAbout");}

<div class="row" style="margin:10px">
    <div class="col-md-4" style="height:100px; background-color:red"> Coluna 1</div>
    <div class="col-md-4" style="height:100px; background-color:red"> Coluna 2</div>
    <div class="col-md-4" style="height:100px; background-color:yellow"> Coluna 3</div>
</div>

<div class="row" style="margin:10px">
    <div class="col-md-3" style="height:100px; background-color:red"> Coluna 1</div>
    <div class="col-md-3" style="height:100px; background-color:red"> Coluna 2</div>
    <div class="col-md-3" style="height:100px; background-color:yellow"> Coluna 3</div>
    <div class="col-md-3" style="height:100px; background-color:yellow"> Coluna 4</div>
</div>

<div class="row" style="margin:10px">
    <div class="col-md-3" style="height:100px; background-color:red"> Coluna 1</div>
    <div class="col-md-9" style="height:100px; background-color:yellow"> Coluna 4</div>
</div>