@{
    ViewBag.Title = "ExibeCadastroAluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<fieldset>
    <legend>Exibe os dados do Aluno</legend>
    <div>
        <strong> Id Aluno: </strong>@ViewBag.IdAluno
    </div>
    <div>
        <strong> Nome: </strong>@ViewBag.Nome
    </div>
    <div>
        <strong> Email: </strong>@ViewBag.Email
    </div>
</fieldset>
